$background-body: #fff;
$background-screen: #f1f1f1;
$background-hr: #ccc;
$background-button: #e6e6e6;
$background-pre: #eee;
$background-ins: #fff9c0;

$text-screen: #21759b;
$text-input: #666;
$text-input-focus: #111;
$link: royalblue;
$link-visited: purple;
$link-hover: midnightblue;
$text-main: #404040;
